<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BluetoothServerGUI.Properties.Settings.kasseAndreasConnectionString"
            connectionString="Data Source=copago.database.windows.net;Initial Catalog=kasseAndreas;Persist Security Info=True;User ID=andreas;Password=fh%2hsw661!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>